name: Python checks

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron:  '0 9 * * 1'
  workflow_dispatch:

permissions: read-all

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
        os:
          - 'ubuntu-latest'
          - 'windows-latest'
          - 'macos-latest'

    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            api.github.com:443
            github.com:443
            pypi.org:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

      - run: uv pip install --system -e .[dev]

      - id: cache-pytest
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: .pytest_cache
          key: ${{ runner.os }}-pytest-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml') }}

      - run: pytest
        env:
          COVERAGE_FILE: .coverage.${{ runner.os }}.${{ matrix.python-version }}

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: coverage-${{ runner.os }}${{ matrix.python-version }}
          path: .coverage.${{ runner.os }}.${{ matrix.python-version }}
          include-hidden-files: true

  ruff-format:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.13'
          cache: pip

      - uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

      - run: uv pip install --system -e .[dev]

      - id: cache-ruff
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: .ruff_cache
          key: ${{ runner.os }}-ruff-3.13-${{ hashFiles('pyproject.toml') }}

      - id: run-ruff
        run: ruff format --diff .

  ruff-check:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      security-events: write

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.13'
          cache: pip

      - uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

      - run: uv pip install --system -e .[dev]

      - id: cache-ruff
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: .ruff_cache
          key: ${{ runner.os }}-ruff-3.13-${{ hashFiles('pyproject.toml') }}

      - id: run-ruff-sarif
        run: ruff check --output-format=sarif -o results.sarif .

      - uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee
        if: ( success() || failure() ) && contains('["success", "failure"]', steps.run-ruff-sarif.outcome)
        with:
          sarif_file: results.sarif

      - id: run-ruff
        if: ( success() || failure() ) && contains('["success", "failure"]', steps.run-ruff-sarif.outcome)
        run: ruff check --output-format=github .

  bandit:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.13'
          cache: pip

      - uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

      - run: uv pip install --system -e .[dev]

      - id: run-bandit-sarif
        run: |
          bandit --confidence-level 'medium' --format 'sarif' --output 'results.sarif' --recursive 'src'

      - uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee
        if: ( success() || failure() ) && contains('["success", "failure"]', steps.run-bandit-sarif.outcome)
        with:
          sarif_file: results.sarif

      - id: run-bandit
        if: failure() && contains('["failure"]', steps.run-bandit-sarif.outcome)
        run: bandit --confidence-level 'medium' --recursive 'src'

  mypy:
    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.13'
          cache: pip

      - uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

      - run: uv pip install --system -e .[dev]

      - id: cache-mypy
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: .mypy_cache
          key: ${{ runner.os }}-mypy-${{ hashFiles('pyproject.toml') }}

      - run: mypy .

  coverage:
    runs-on: ubuntu-latest

    needs: test

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            img.shields.io:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        id: download
        with:
          pattern: coverage-*
          merge-multiple: true

      - id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@e623398c19eb3853a5572d4a516e10b15b5cefbc
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_COVERAGE_FILES: true

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt

  pre-commit:
    runs-on: ubuntu-latest

    needs:
      - ruff-format
      - ruff-check
      - bandit

    permissions:
      contents: write

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            proxy.golang.org:443
            pypi.org:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: 3.13
          cache: pip

      - uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

      - run: uv pip install --system -e .[dev]

      - id: cache-pre-commit
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: .pre-commit-cache
          key: ${{ runner.os }}-pre-commit-3.13

      - run: pre-commit run --all-files
        env:
          PRE_COMMIT_HOME: .pre-commit-cache
